<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ComConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <ComConsole.Properties.Settings>
            <setting name="port" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="rate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="databits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="stopbits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="handshake" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="append" serializeAs="String">
                <value>3</value>
            </setting>
        </ComConsole.Properties.Settings>
    </userSettings>
</configuration>
